APP_DASHBOARD_BASE_URL=
APP_IDM_BASE_URL=
APP_IDM_REALM_NAME=
APP_AUTH_PROFILE=
APP_CLIENT_ID=
APP_CLIENT_SECRET=
APP_ENABLE_AUTHENTICATION=true
APP_IDRA_BASE_URL=
APP_MINIO_BASE_URL=
APP_ORION_LD_URL_SUBSCRIPTION=
APP_ORION_LD_URL_ENTITY=
APP_ORION_LD_URL_TYPE=
APP_MINIO_HOST=
APP_MINIO_PORT=443
APP_ACCESS_KEY_MINIO=
APP_SECRET_KEY_MINIO=
APP_URL_AIRFLOW=
APP_URL_MINIO=
APP_GOOGLE_MAPS_API_KEY=
APP_NB_CHAT_GOOGLE_MAPS_API_KEY=
